@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding:0px;
    margin:0px;
}
.Container1{
    display: flex;
    flex-direction: row;

}
/*left container*/
.NavContain{
    height: 70px;
    width: 50%;
    background-color: #D0B8AC;
    box-shadow: 0px 0px 4px 0px rgba(119, 81, 68, 0.25);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
/*right container*/
.NavContain1{
    height: 70px;
    width: 50%;
    background-color: #D0B8AC;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
}
/* top right bottom left padding */

/*hamburger icon*/
.HamButton {
    transform: translatey(20px);
    flex-shrink: 0;
    margin-left: 10px;
    border: 0px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
.HamButton > svg{
    height: 35px;
    width: 30px;
    background-color: transparent;
    
}
.navButton{
    background-color: transparent;
    margin-left: 30px;
    transform: translatey(1px);
}

.navButton > button > svg{
    background-color: transparent;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
.aboutMe, .proj, .contacts{
    @apply hover:bg-black hover:rounded-full 
}








/*for darkmode*/

.mode{
    @apply bg-transparent mr-3 mt-3 rounded-full w-auto h-auto 

}

.circle{
    @apply pt-1.5 pl-1 hover:bg-black
}


input[type="checkbox"] {
    display: none;
  }
